# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

notes.md
algorithm
obsolete-algorithm
*.js
*.c
.vscode
.DS_Store
data-structures
javascript
coursera
input.txt
software-testing/
world-codesprint-5/
leetcode/
big-o-coding/lecture-notes
algo
big-o-coding
